.Inicio{
    width: 100%;
    max-width: 1920px;
    
    background-image:url(imagenes/hojas.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width:100%;
    height:90px;
    background: #FEBB97;
    overflow: hidden;
}
.ancho{
    width: 80%;
    height: 90px;
    margin: auto;
}
.Logo{
    width: 20%;
    height: 90px;
    float: left;
    display: inline-flex;
    
}

.Logo p a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    color: rgb(252, 252, 252);
    
    text-decoration: none;
    
}
.Logo img{
    height: 80px;
    width: 100px;

}

#Menu{
    width: 80%;
    height: 90px;
    float:right;
    padding-top: 5px;

}
#Menu ul{
    list-style: none;
}
#Menu ul li{
    display: inline-block;
    float: right;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#Menu ul li a{
    color:white;
    text-decoration: none;
    padding-left: 25px;
    padding: 40px;

}
#Menu ul li a:hover{
    color: greenyellow;
    background: green;
    box-sizing:border-box ;
}
.Medio{
    overflow: hidden;
    display: flex;
}
.Medio img{
    height: 45%;
    width: 45%;
}

.Medio form{
    margin:0 auto;
    width: 400px;
    padding: 20px;
    border:2px solid black;
    border-radius: 1cm;
    float:right;
    font-size: 43px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: #FEBB97;
    justify-content: center;
    
}

.tabla{
    width: 320px;
    height: 40px;
    font-size: 25px;
}

.Abajo{
    overflow: hidden;
    display: flex;

    justify-content: center;
}
.Abajo img{
    width: 400px;
    height:300px;
    padding: 4%;
    border-radius: 15cm;
    justify-content: center;
}
h1{
    color: aliceblue;
    font-size: 200px;
    text-align: center;
}
.Reco{
    display:inline-flex;
    padding-left: 6%;
}
.Reco p{
    color:antiquewhite;
    list-style: none;
    
    padding:6%;
    font-size: 40px;
    text-align: center
}
h5{
    color: aliceblue;
    font-size: 150px;
    text-align: center;
}
.redes{
    overflow: hidden;
    display: flex;

    justify-content: center;
}
.redes img{
    width: 300px;
    height:300px;
    padding: 6%;
   
    justify-content: center;
}